/*Reset browser defaults to get rid of gap between body and top of page*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

html {
    height: 100vh;
}

p {
    font-family: Raleway;
    font-size: 24px;
    text-align: justify;
    width: 66vw;
    margin: auto;
    padding-top: 10px;
}

.main-nav {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 32px;
    background-color: #AC2B37;
    text-align: center;
    box-shadow: 2px 2px 5px #1f2327;
    margin-bottom: 5vh;
}

#nav ul { /*Center nav menu*/
    list-style-type: none;
    list-style: none;
    margin: 0 0 0 0;
    width: 100%;
    overflow: hidden;
}

li {
    display: inline-block;
    padding: 20px 10px;
    transition-duration: .5s;
}

li:hover {
    background-color: #f5f5f5;
    transition-duration: .5s;
}

a {
    color: black;
}

h1{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    padding: 30px;
}

h2 {
    font-family: 'Source Sans Pro';
    font-size: 36px;
    text-align: center;
}

body {
    background-color: #f5f5f5;
    margin: 0 0;
    flex-direction: column;
    display: flex;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

#home-buttons {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

button {
    outline: #F1C164 solid 5px;
    width: 250px;
    height: 75px;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
    margin: 0 100px;
    transition-duration: .5s;
    box-shadow: 2px 2px 5px black;
}

button:hover {
    background-color: #F1C164;
    transition-duration: .5s;
}

footer {
    text-align: center;
    background-color: #A9B0B7;
    padding: 15px;
    margin-top: auto;
}

.disclaimer {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

/*Stuff added for Directory page*/
.dropdown {
    align-self: center;
    width: 90vw;
    height: 50px;
    margin: 15px 0;
}

.dropdown-container {
    width: 90vw;
    align-self: center;
    padding: 5px;
    display: none; /*Hidden by default*/
    margin: 10px;
    flex-wrap: wrap;
}

.dropdown-item {
    margin: 10px auto;
    outline: #AC2B37 solid 2px;
    box-shadow: 2px 2px 5px #AC2B37;
    padding: 5px;
    min-width: 35vw;
    display: flex;
    flex-direction: row;
    background-color: white;
}

img {
    width: 10vw;
    height: auto;
    padding: 1vw;
    margin: auto 0;
}

.dropdown-labels {
    width: 20vw;
    margin: auto 2vw;
}

label {
    font-family: Raleway;
    font-size: 24px;
}

/* Stuff I added for Forum page*/
#reporting-buttons {
    display: flex;
    justify-content: center;
    padding: 1vh 0;
}

#reporting-buttons button {
    height: auto;
    width: 25vw;
    padding: 5px 10px;
}

#post-container {
    display: flex;
    justify-content: center;
}

.forum {
    outline: 2px solid black;
    width: 45vw;
    max-height: 75vh;
    min-height: 50vh;
    overflow-y: scroll;
    margin: 2vh 1vw;
    box-shadow: 0 0 4px black;
}

.forum-item {
    margin: 10px 5px;
    outline: #AC2B37 solid 2px;
    padding: 5px;
    min-width: 25vw;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.forum-item label {
    font-size: 20px;
}

.forum-labels {
    margin: auto 1vw;
}

.forum-image img {
    width: 7vw;
}

.forum h1 {
    font-size: 36px;
    padding: 18px
}

/* Stuff I added for the forms */
form {
    margin: 5vh auto;
    width: 50vw;
    outline: white solid 1px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: none; /* Hidden by default */
    flex-flow: column wrap;
}

input {
    width: 30vw;
    outline: solid 1px black;
    font-size: 24px;
    font-family: Raleway;
    margin: 10px;
}

input[type="submit"] {
    background-color: #fdf7ec;
    margin: 2vh auto;
    padding: 5px;
    outline: solid 5px #F1C164;
    transition-duration: .25s;
    box-shadow: 2px 2px 5px black;
}

input[type="submit"]:hover {
    background-color: #F1C164;
    box-shadow: 3px 3px 5px black;
    transition-duration: .25s;
}

input[type="file"] {
    outline: none;
}

form h1 {
    font-size: 36px;
}